.profileBorder{
    border: 3px solid #cecee0;
    background-color: transparent;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    width: fit-content;
}

@keyframes fadeIn { 
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

.responseButton{
    display: none;
}
.responseButton.RBActive{
    height: auto;
    width: auto;
    display:block;
    margin: 5px;
    border-color: black;
    color: #cecee0;
    background-color: transparent;
    animation: fadeIn 2s;
}
/*.profileBorder{
    border: dashed red;
}
.mainProfile{
    border: dashed red;
}*/
.robotName{
    color:#cecee0;
    /*border: dashed red;*/
    text-align: center;
    width:fit-content;
}