* {
    margin: 0;
    padding: 0;
}

:root {
    --main-txt-color: #cecee0;
}
  
body {
    background-color: #10101a;
    /*display: flex;*/
    /*justify-content: center;
    align-items: center;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
    color: var(--main-txt-color);
    font-size: .9rem;
}
.container{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 30% 1fr;
    grid-template-rows: 10vh 130px 40vh;
    width: 100%;
    max-width: 2000px;
}

hr {
    width: 1px;
    border-color: transparent;
    border-right-color: rgba(94, 93, 96, 0.863);
    border-style: solid;

    border-width: 1px;
    border-right-width: 5px;
    position: absolute;
    bottom: 100%;
    transform-origin: 100% 50%;
    animation-name: rain;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -1;
    color: white;
    opacity: 1;
}

@keyframes rain {
    from {
        transform: rotate(90deg) translateX(0);
    } 
    to {
        transform: rotate(90deg) translateX(calc(100vh));
    }
}

@keyframes fadeIn { 
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.profileBorder{
    border: 3px solid var(--main-txt-color);
    background-color: transparent;
    border-radius: 10px;
    /*margin-right: 10px;*/
    margin-bottom: 5px;
    width: 100px;
    height: 100px;
}

.visitorProfileImg{
    width:100%;
    height:100%;
    margin-top: 1px;
    margin-right: 10px;
}
.robotProfile{
    width:100%;
    height:100%;
}
.visitorPromptBox{
    grid-area: 3 / 3 / 4 / 4;
    align-self: start;
}

.responseButton{
    display: none;
}
.questionList{
    list-style-type:none
}

.responseButton.RBActive{
    height: auto;
    width: auto;
    display:block;
    
    margin: 5px;
    border-color: black;
    color: var(--main-txt-color);
    background-color: transparent;
    animation: fadeIn 2s;
}
.visitorSection{
    visibility: hidden;
}
.visitorSection.show{
    animation: fadeIn 2s;
    grid-area: 2 / 3 / 3 / 4;
    justify-self: center;
    align-self: start;
    visibility: visible;
    /*display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;*/
}



.robotSection{
    visibility: hidden;
    /*justify-self: stretch;*/
    /*border: 3px solid;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;*/
    /*margin: 10px;*/
    grid-area: 2 / 1 / 3 / 2;
    justify-self: center;
    align-self: start;

}
.robotSection.RSActive{
    visibility: visible;
    /*animation: fadeIn 2s;*/
    /*justify-self: stretch;*/

}

/*.profileBorder{
    border: dashed red;
}*/
.mainProfile.show{
    animation: fadeIn 2s ;
    visibility: visible;
}
.mainProfile{
    /*border: dashed red;*/
    visibility: hidden;
    justify-self: center;
}
.visitorProfile{
    /*border: dashed red;*/
    justify-self: center;
}
.robotName.robotNameKnown{
    visibility: visible;
    animation: fadeIn 2s;
}
.robotName{
    color: var(--main-txt-color);
    /*border: dashed red;*/
    text-align: center;
    /*width:fit-content;*/
    visibility: hidden;
}
.robotDialogBox{
    /*padding-left: 10px;*/
    justify-self: center;
    grid-area: 3 / 1 / 4 / 2;
    align-self: start;
}
button{
    color: var(--main-txt-color);
    background-color: transparent;
    background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    display: block;
}
button:hover{
    transform: translateX(5px);

}
.hoodedName{
    text-align: center;
}
.redirectToPortfolio{
    grid-area: 1 / 2 / 2 / 3;
}
.carousel.show{
    visibility: visible;
}
.carousel{
    visibility: hidden;
}
.middleSection.show{
    display: block;
    animation: fadeIn 2s;
    
}
.middleSection{
    grid-area: 2 / 2 / 3 / 3;
    /*display: none;*/
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    justify-self: center;
    /*width: 100px;
    height: 100px;
    background-color: red;*/
}
.middleChat{
    text-align: center;
}
.darkText{
    color:#10101a;
}
.lightText{
    color:var(--main-txt-color);
}
.motivationTracker{
    text-align: left;
    left: 0%;
}
.closeButton{
    float: right;
    background-color: #10101a;
    padding: 3px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    position: relative;
    z-index: 5;
}
a{
    z-index: 5;
    position: relative;
}